<div class="main-container">
  <div class="text-container">
    <h2>Pourquoi Notre Auto-École ?</h2>
    <div class="ensemble1">
      <div class="texte1">
        <p>
          <span>Expérience Inégalée :</span><br>  Profitez de l'expertise de nos moniteurs, y compris un vétéran avec plus de 10 ans
      d'expérience, spécialisé dans la réussite de tous les profils d'élèves.
        </p>
      </div>
  
  
      <div class="texte2">
        <p>
          <span>Accompagnement Personnalisé :</span><br> Nous offrons des formations adaptées à chaque apprenant, garantissant un apprentissage
          efficace et sur mesure.
        </p>
      </div>
    </div>
    


    <div class="ensemble2">
      <div class="texte3">
        <p>
          <span>Ambiance Sereine :</span><br>
           Apprenez dans un environnement détendu et sécurisant, avec des moniteurs patients et attentifs à
      vos besoins.
        </p>
      </div>
  
  
  
      <div class="texte4">
        <p>
          <span>Tarifs Accessibles :</span><br>
           Bénéficiez d'une formation de qualité à des prix compétitifs, avec des options de paiement
          flexibles.
        </p>
      </div>
    </div>

    <p class="final">    Commencez votre parcours de conduite avec nous et conduisez vers le succès !
    </p>
  </div>
<div class="container">
</div>

</div>
