<div id="ancreMenu" class="container">
  <img class="logo" src="../../../../assets/images/logososot4.png" alt="ask-auto-ecole-logo">
  <ul class="menu">
    <li><a href="#ancreHaut">Accueil</a></li>
    <li><a href="#ancreFormule">Nos Formules</a></li>
    <li><a href="#ancreMoniteur">Nos Moniteurs</a></li>
    <li><a href="#ancreContact">Contact</a></li>
  </ul>
  <img class="ask" src="../../../../assets/images/ask.png" alt="ask-auto-ecole-logo">
  <div #buttonDiv (click)="hiddenMenu()" class="menu-hidden">
    <span #span1></span>
    <span #span2></span>
    <span #span3></span>
  </div>
</div>
