<div class="container">
  <section id="ancreMoniteur">
    <h2>Aman</h2>
    <img #papa src="../../../assets/images/papa.jpg" alt="photo Aman">
    <p>Moniteur de plus de 10 ans d'expérience, à travailler avec de multiples auto-ecole. Du plus débutant au plus expérimenté avec moi vous aurez votre permis.</p>
  </section>
  <section>
    <h2>Sofiane</h2>
    <img class="so" #soso src="../../../assets/images/soso.png" alt="photo Sofiane">
    <p>Jeune moniteur qui sait s'adapter à tout profil.</p>
  </section>
  <div class="blackdown">

  </div>
</div>
