<div class="container">
  <section id="ancreMoniteur">
    <h2>Aman</h2>
    <img #papa src="../../../assets/images/papa.jpg" alt="photo Aman">
    <p>Rencontrez notre moniteur chevronné, fort de plus de 10 ans d'expérience sur les routes et dans la salle de classe. Reconnu pour son approche personnalisée et patiente, il a accompagné des générations d'apprentis conducteurs à travers un spectre complet de compétences de conduite. Que vous teniez le volant pour la première fois ou que vous peaufiniez vos compétences de conduite avant l'examen, sa méthode éprouvée est ajustée pour vous mettre en confiance et assurer votre réussite.</p>
  </section>
  <section>
    <h2>Sofiane</h2>
    <img class="so" #soso src="../../../assets/images/soso.png" alt="photo Sofiane">
    <p>Découvrez l'approche dynamique et sur-mesure de notre jeune moniteur, âgé de 29 ans, dont la détermination n'a d'égal que son habileté à s'ajuster à chaque apprenant. Armé d'une volonté de fer et d'une capacité exceptionnelle à identifier les besoins spécifiques de chacun, il transforme chaque leçon en une expérience enrichissante et personnalisée. Sa jeunesse se traduit par des méthodes d'enseignement modernes et engageantes, garantissant un apprentissage de la conduite à la fois efficace et en phase avec les dernières normes de sécurité routière. </p>
  </section>
  <div class="blackdown">

  </div>
</div>
