.container{
  width: 100vw;
  background-color: black;
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
}

.formule1{
  height : 40vh;
  width : 80%;
  background: linear-gradient(var(--gold), var(--gold2), var(--gold3));
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.formule2{
  height : 40vh;
  width : 80%;
  background: linear-gradient(var(--gold), var(--gold2), var(--gold3));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;

}

.cont1{
  height: 20%;
  min-width: 50%;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: var(--family);
  font-size: 1.3em;
  padding-left: 10px;
  padding-right: 10px;
}



.cont1 p {
  color : white;
}

.whiteup{
  z-index: 3;
  height : 3vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  top:0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.whitedown{
  z-index: 3;
  height : 3vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  bottom:0;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.reserver{
  border-radius: 10px;
  min-width: 40%;
  height : 20%;
  font-family: var(--family);
  font-size: 1.8em;
  background-color: black;
  color : var(--gold);
  padding: 15px;
}
