
.formule1{
  height : 55vh;
  margin-left: 5px;
  margin-right: 5px;
  background: linear-gradient(var(--gold), var(--gold2), var(--gold3));
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;

}


.cont1{
  height: 20%;
  min-width: 50%;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: var(--family);
  font-size: 1.3em;
  padding-left: 10px;
  padding-right: 10px;
}



.cont1 p {
  color : white;
}


.reserver{
  border-radius: 10px;
  min-width: 40%;
  font-family: var(--family);
  font-size: 1.8em;
  background-color: black;
  color : var(--gold);
  padding: 15px;
}
