<div #menu class="container">
  <ul class="list-menu">
    <li>
      <a href="#ancreHaut" (click)="showMenuSub()">Accueil</a>
      </li>
    <!-- si besoin d'afficher sur url precise  *ngIf="router.url === '/' || router.url === '/#ancreFormule' || router.url === '/#ancreMoniteur' " -->
    <li>
      <!-- ancre si on est sur la page d'accueil -->
    <a href="#ancreFormule" (click)="showMenuSub()">Nos Formules</a>
    </li>
    <li>
      <!-- ancre si on est sur la page d'accueil -->
      <a href="#ancreMoniteur" (click)="showMenuSub()">Nos Moniteurs</a>
    </li>

    <!-- <li *ngIf="isConnected">
      <a [routerLink]="['/connexion']" (click)="showMenuSub()">Connexion</a>
    </li>
    <li *ngIf="isConnected">

      <a [routerLink]="['/inscription']" (click)="showMenuSub()">Inscription</a>
    </li> -->
    <!-- <li *ngIf="isConnected">

      <a [routerLink]="['/planning']" (click)="showMenuSub()">Mon planning</a>
    </li>
    <li *ngIf="isConnected">
      <a [routerLink]="['/reserver']" (click)="showMenuSub()">Réserver</a>
    </li> -->
    <li>
      <a href="#ancreContact" (click)="showMenuSub()">Contact</a>
      </li>
  </ul>

</div>
