.container{
  min-width: 100vw;
  background-color: black;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all linear 0.5s;

}




.formules{
  position: relative;
  transition: all linear 0.5s;
  display: flex;
  flex-wrap: nowrap;
  padding-left : 10px;
  opacity: 0;
}

.formules2{
  position: relative;
  transition: all linear 0.5s;
  display: flex;
  flex-wrap: nowrap;
  padding-left : 10px;
  opacity: 0;
}
.fleched1{
  position: absolute;
  background-image: url('../../../assets/images/right.png');
  background-size: contain;
  z-index: 3;
  height: 50px;
  width: 50px;
  right: 11px;
  top : 350px;
  animation: 1.5s linear 1s infinite alternate opaci;
}

.fleched2{
  position: absolute;
  background-image: url('../../../assets/images/right.png');
  background-size: contain;
  z-index: 3;
  height: 50px;
  width: 50px;
  right: 11px;
  top : 900px;
  animation: 1.5s linear 1s infinite alternate opaci;
}
.flecheg1{
  position: absolute;
  background-image: url('../../../assets/images/left.png');
  background-size: contain;
  z-index: 3;
  height: 0px;
  width: 50px;
  left: 5px;
  top : 350px;
  animation: 1.5s linear 1s infinite alternate opaci;
  transition: all linear 0.2s;

}

.flecheg2{
  position: absolute;
  background-image: url('../../../assets/images/left.png');
  background-size: contain;
  z-index: 3;
  height: 0px;
  width: 50px;
  left: 5px;
  top : 900px;
  animation: 1.5s linear 1s infinite alternate opaci;
  transition: all linear 0.2s;

}


.whiteup{
  z-index: 3;
  height : 3vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  top:0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.whitedown{
  z-index: 3;
  height : 3vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  bottom:0;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.titreFormule{
  position: relative;
  left : 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  color : white;
  width : 100vw;
  font-family: var(--family);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titreFormule2{
  padding-top : 30px;
}

.voiture{
  position: relative;
  left : -80px;
  height : 50px;
  animation: 5s linear 1s infinite drive;
  align-self: flex-start;
}

.voiture2{
  position: relative;
  left : 600px;
  height : 50px;
  animation: 5s linear 1s infinite drive2;
  align-self: flex-start;

}

.active{
  opacity: 1;
}

.formulaire{
  display : flex;
  justify-content: center;
  background-color: black;
}

form{
  display : flex;
  flex-direction : column;
  align-items: center;
  justify-content: space-between;
}

form > div{
  display : flex;
  flex-direction : column;
  align-items: center;
  margin-bottom: 15px;
}

label{
  font-family : var(--family);
  font-size : 1.2em;
  padding-bottom : 15px;
  color : white;
}

button{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: var(--family);
  font-size: 1.8em;
  background-color: black;
  color : var(--gold);
  padding: 15px;
  border : 1px solid white;
}

[type="textarea"]{
  height : 60px;
}

input{
  border-radius : 5px;
}



.send, .fail{
  font-size : 0px;
  position: fixed;
  font-family: var(--family);
  border-radius: 10px;
  bottom : 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width : 0px;
  height : 50px;
  background-color: rgb(0, 179, 0);
  color : white;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
  transition: all ease 1s;

}

.active{
  width : 200px;
  font-size : 1em;
  border: 1px solid black;
  transition: all ease 1s;
}

.fail{
  background-color: red;
}
@keyframes opaci {
  from { opacity: 0.5;
         transform : scale(1);
  }
  to   { opacity: 1;
    transform : scale(1.4);
      }
}

@keyframes drive{
  from{
    left : -80px;
    transform: rotate(0deg);
  }
  to{
    left : 600px;
    transform: rotate(-15deg);
  }
}

@keyframes drive2{
  from{
    left : 600px;
    transform: rotate(0deg);
  }
  to{
    left : -80px;
    transform: rotate(-15deg);
  }
}
