.container{
  min-width: 100vw;
  background-color: black;
  display : flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.formules{
  position: relative;
  transition: all linear 0.25s;
  display: flex;
  flex-wrap: nowrap;
  padding-left : 10px;
}

.fleche{
  position: absolute;
  background-image: url('../../../assets/images/fleche.png');
  background-size: contain;
  z-index: 3;
  height: 50px;
  width: 50px;
  right: 5px;
  animation: 3s linear 1s infinite alternate opaci;
}

.whiteup{
  z-index: 3;
  height : 3vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  top:0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.whitedown{
  z-index: 3;
  height : 3vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  bottom:0;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}


@keyframes opaci {
  from { opacity: 0.5; }
  to   { opacity: 1; }
}
